<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <a class="navbar-brand" href="#">Student Management System</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Student List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students/course}">Programme List</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="p-3 mb-2 bg-info text-white rounded text-center"><h1>Student List</h1></div>
    <br>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr class="text-center">
            <th>Registration Number</th>
            <th>Student Full Name</th>
            <th>Student Contact Number</th>
            <th>Student Email</th>
            <th>Course Enrolled</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="l:${list}" th:field="${l}" class="text-center">
            <td th:text="${l.regNumber}"></td>
            <td th:text="${l.fullName}"></td>
            <td th:text="${l.contactNumber}"></td>
            <td th:text="${l.email}"></td>
            <td th:text="${l.courseEnrolled}"></td>
            <td>
                <a th:href="@{/students/edit/{id}(id=${l.id})}"
                   class="btn btn-primary">Update</a>
                <a th:href="@{/students/{id}(id=${l.id})}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>